{% extends 'ticket_app/base/base.html' %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}4
{% block content %}
    {% include "ticket_app/base/_modal.html" %}

    <main>
        <h1>Tickets</h1>
        <div class="recent-tickets">

            <form method="GET">
                {% csrf_token %}
                {% with user=request.user %}
                    {{ truck_filter.form }}
                {% endwith %}
                <input type="hidden" id="filter-values" value="{{ truck_filter.data|safe }}">
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                <div class="ticket-table">
                    {% include 'ticket_app/tickets/_ticket_table.html' %}
                </div>
            </form>
        </div>

        <div class="pagination justify-content-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1&{{ request.get_full_path }}"><button type="button"
                                                                          class="update-ticket bs-modal btn btn-sm btn-primary">First
                </button></a>
                    <a href="?page={{ page_obj.previous_page_number }}&{{ request.get_full_path }}"
                       class="previous-link"><button type="button"
                                                     class="update-ticket bs-modal btn btn-sm btn-primary">Previous
                </button></a>
                {% endif %}

                <span class="current">
                    <b>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</b>
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&{{ request.get_full_path }}" class="next-link"><button
                            type="button"
                            class="update-ticket bs-modal btn btn-sm btn-primary">Next
                </button></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}&{{ request.get_full_path }}"><button type="button"
                                                                                                           class="update-ticket bs-modal btn btn-sm btn-primary">Last
                </button></a>
                {% endif %}
            </span>
        </div>
    </main>

    <div class="right">
        <div class="top">
            <button id="menu-btn">
                <span class="material-icons-sharp">menu</span>
            </button>
            <div>
                <a id="home" href="{% url 'home' %}">
                    <span class="material-icons-sharp">home</span>
                </a>
            </div>
            <div class="theme-toggle">
                <span class="material-icons-sharp active">light_mode</span>
                <span class="material-icons-sharp">dark_mode</span>
            </div>
            <div class="profile">
                <span onclick="showTutorial()" class="material-icons-sharp">help_center</span>

                <div class="info">
                    <p><b class="text-uppercase">{{ user }}</b></p>
                    <small class="text-muted">
                        {% if user.is_authenticated %}
                            {% if user.is_staff %}
                                <p>Welcome, Admin!</p>
                            {% else %}
                                <p>Welcome, Regular User!</p>
                            {% endif %}
                        {% endif %}
                    </small>
                </div>
                <div class="profile-photo">
                    <a id="user_profile" href="{% url 'user_profile' %}" title="View Profile" class="profile-link">
                        <span class="material-icons-sharp">person</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="analytics">
            <div class='progress-wrapper'>
                <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
            </div>
            <div id="progress-bar-message">Waiting for progress to start...</div>
            <button type="button" id="add-ticket-images" class="item" data-bs-toggle="modal" disabled>
                <span class="material-icons-sharp">add</span> Add Images
            </button>
        </div>


    </div>
{% endblock content %}

{% block scripts %}
    <script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-3.2.1.in.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>

    <script type="text/javascript">

        var asyncSuccessMessageUpdate = [
            "<div ",
            "style='position:absolute;top:150;z-index:10000;width:25%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: Ticket was updated.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
        ].join("");

        // modal form
        function updateTicketModalForm() {
            const filterValues = document.getElementById("filter-values").value;
            $(".update-ticket").each(function () {
                $(this).modalForm({
                    draggable: true,
                    formURL: $(this).data("form-url"),
                    asyncUpdate: true,
                    asyncSettings: {
                        closeOnSubmit: true,
                        successMessage: asyncSuccessMessageUpdate,
                        dataUrl: "tickets/?page=" + {{ page_obj.number }},
                        dataElementId: "#tickets-table",
                        dataKey: "ticket-table",
                        addModalFormFunction: reinstantiateModalForms
                    }
                });
            });
        }

        updateTicketModalForm()


        function reinstantiateModalForms() {
            updateTicketModalForm();
        }


        // Hide message
        jQuery(".alert").fadeTo(2000, 500).slideUp(500, function () {
            $(".alert").slideUp(500);
        });


    </script>

    <script type="text/javascript">
        $("#add-ticket-images").modalForm({
            formURL: "{% url 'upload_images' %}",
            modalID: "#upload_images_modal"
        })
        type = "text/javascript" >
            // Delete book buttons - formURL is retrieved from the data of the element
            $(".delete-image").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
            });

        document.addEventListener("DOMContentLoaded", function () {
            var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
            CeleryProgressBar.initProgressBar(progressUrl);
        });


    </script>

    <script>
        // Add an event listener to the form submission
        $("#images_form").on('submit', function () {
            var formData = new FormData(this);

            $.ajax({
                type: 'POST',
                url: '{% url 'upload_images' %}', // Replace with the actual URL of your upload view
                data: formData,
                contentType: false,
                processData: false,
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener('progress', function (e) {
                        if (e.lengthComputable) {
                            var percentComplete = (e.loaded / e.total) * 100;
                            var uploadSpeed = e.loaded / (e.timeStamp / 1000); // Bytes per second
                            var estimatedTime = ((e.total - e.loaded) / uploadSpeed).toFixed(1); // Estimated time in seconds

                            // Update the progress information
                            $("#progress-value").text(percentComplete.toFixed(2) + '%');
                            $("#estimated-time").text(estimatedTime + 's');
                        }
                    });

                    return xhr;
                },
                success: function (data) {
                    // Handle the success response from the server
                },
                error: function () {
                    // Handle any errors
                }
            });

            return false;
        });

    </script>

    <script>
        function checkTaskStatus() {
            $.ajax({
                url: '/api/is_task_running/',
                type: 'GET',
                success: function (data) {
                    var $button = $('#add-ticket-images');
                    if (data.task_running) {
                        $button.prop('disabled', true);
                        $button.addClass('disabled-button');
                        $button.attr('title', "A task is currently running. Please wait.");
                        $button.tooltip('enable');
                    } else {
                        $button.prop('disabled', false);
                        $button.removeClass('disabled-button');
                        $button.attr('title', "");
                        $button.tooltip('disable');
                    }
                }
            });
        }

        $(document).ready(function () {
            // Initially check the task status
            checkTaskStatus();

            // Continue checking the task status every 10 seconds (or another interval that suits your needs)
            setInterval(checkTaskStatus, 5000);

        });
    </script>

    </script>

    <script type="text/javascript">
        function showTutorial() {
            introJs().setOptions({
                steps: [{
                    intro: "This is the Tickets page. This is where you will upload your tickets," +
                        "as well as perform any needed updates to tickets."
                }, {
                    element: document.querySelector('#add-ticket-images'),
                    intro: 'Clicking this button will open the form to allow you to upload tickets.' +
                        'When you upload a ticket, it will automatically be scheduled for processing,' +
                        'once finished it will appear on this page with a picture of the ticket, ' +
                        'ticket number, load call, cubic yardage and date.'
                },
                    {
                        element: document.querySelector('#progress-bar'),
                        intro: 'This will show a progress bar of your ticket processing. It will show the current ' +
                            'number of processed tickets out of the total number uploaded. Once finished you will see' +
                            ' a green bar that says success.'
                    },
                ]
            }).start();
        }

    </script>

    <script type="text/javascript">
        $(".delete-ticket").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
        });
    </script>

    <script src="{% static 'frontend/index.js' %}"></script>


{% endblock scripts %}