<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            {% csrf_token %}
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="update-modal">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            {% csrf_token %}
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="upload_images_modal">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            {% csrf_token %}
        </div>
    </div>
</div>